$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-cyan-opacity: hsla(179, 62%, 43%, 0.8);
$color-secondary-yellow: hsl(71, 73%, 54%);
$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(204, 43%, 93%);
$color-light-grey-opacity: hsla(203, 44%, 93%, 0.8);
$color-grayish-blue: hsl(218, 22%, 67%);
$color-shadow: hsla(0, 0%, 20%, 0.1);
$font-size: 1.6rem;
