.heading-primary {
  color: $color-primary-cyan;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heading-secondary {
  color: $color-secondary-yellow;
  font-size: 1.8rem;
}

.heading-tertiary {
  color: $color-white;
  margin-bottom: 2rem;
}
